<!DOCTYPE html>
<html lang="en" class="no-js">

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/axios.min.js"></script>
<!-- selectize js -->
<script src="js/selectize.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<script src="js/app.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>联系我们 - 启迪之星</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--topbar js-->
    <script src="js/topbar.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <div id="app">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll scroll-active">
            <!-- Tagline STart -->
            <div class="tagline">
                <div class="container">
                    <div class="float-left">
                        <div class="phone">
                            启迪之星公司-在线人才招聘
                        </div>
                    </div>
                    <div class="float-right">
                      <ul class="navigation-menu topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                        <li class="has-submenu">
                          <a href="javascript:void(0);" style="font-size: 15px;"><i class="mdi mdi-account mr-2"></i>{{name}}</a><span class="menu-arrow"></span>
                          <ul class="submenu" v-if="name === '未登录'">
                            <li><a href="/login.html" style="font-size: 15px;">登录</a></li>
                            <li><a href="/signup.html" style="font-size: 15px;">注册</a></li>
                          </ul>
                          <ul class="submenu" v-else>
                            <li><a href="javascript:logOut();" style="font-size: 15px;">注销</a></li>
                          </ul>
                        </li>
                        <li class="list-inline-item">
                          <a :href="newlin" style="font-size: 15px;"><i class="mdi mdi-account-box mr-2" ></i>个人中心</a>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Tagline End -->

            <!-- Menu Start -->
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="index.html" class="logo">
                        <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                        <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                    </a>
                </div>
                <div class="buy-button" v-if = "showtype!=''">
                    <a :href="turntype" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i>{{showtype}}</a>
                </div>
                <!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="index.html">主页</a></li>
                        <li><a href="job-list.html">岗位列表</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">求职者相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="signup.html">用户注册</a></li>
                                <li><a href="login.html">用户登录</a></li>
                                <!-- <li class="has-submenu"><a href="javascript:void(0)">应聘者</a><span
                                        class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="candidates-listing.html">应聘者列表</a></li>
                                        <li><a href="create-resume.html">新建简历</a></li>
                                    </ul>


                                </li> -->
                                <li><a href="create-resume.html">新建简历</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">

                            <a href="javascript:void(0)">企业相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="companysignup.html">企业注册</a></li>
                                <li><a href="signup.html">企业登录</a></li>
                                <li><a href="post-a-job.html">发布职位</a></li>
                                <li><a href="employers-list.html">企业列表</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于系统</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">常见问题</a></li>
                                <li><a href="signup.html">意见反馈</a></li>
                                <li><a href="companysignup.html">发布职位</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于我们</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">实习基地</a></li>
                                <li><a href="signup.html">启迪之星</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a href="contact.html">联系我们</a>

                        </li> -->
                    </ul>
                    <!--end navigation menu-->
                </div>
                <!--end navigation-->
            </div>
            <!--end container-->
            <!--end end-->
        </header>
        <!--end header-->
        <!-- Navbar End -->

        <!-- Start home -->
        <section class="bg-half page-next-level">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h4 class="text-uppercase title mb-4">联系我们</h4>
                            <ul class="page-next d-inline-block mb-0">
                                <li><a href="index.html" class="text-uppercase font-weight-bold">主页</a></li>
                                <li>
                                    <span class="text-uppercase text-white font-weight-bold">联系我们</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->

        <!-- MAP START -->
        <section class="section pt-0 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="map">
                            <iframe src="https://map.baidu.com/@11328368.865350053,4368838.354394489,19.15z"
                                style="border: 0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="contact-item mt-40">
                            <div class="float-left">
                                <div
                                    class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                                    <i class="mdi mdi-earth"></i>
                                </div>
                            </div>
                            <div class="contact-details">
                                <h4 class="text-dark mb-1">官网网站</h4>
                                <p class="mb-0 text-muted">启迪之星 xxxx.xxxxx</p>
                                <p class="mb-0 text-muted">青海启迪之星 xxxx.xxxxx</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="contact-item mt-40">
                            <div class="float-left">
                                <div
                                    class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                                    <i class="mdi mdi-cellphone-iphone"></i>
                                </div>
                            </div>
                            <div class="contact-details">
                                <h4 class="text-dark mb-1">联系电话</h4>
                                <p class="mb-0 text-muted">123 456 7890</p>
                                <p class="mb-0 text-muted">123 456 7890</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="contact-item mt-40">
                            <div class="float-left">
                                <div
                                    class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                                    <i class="mdi mdi-email"></i>
                                </div>
                            </div>
                            <div class="contact-details">
                                <h4 class="text-dark mb-1">电子邮箱</h4>
                                <p class="mb-0 text-muted">启迪之星 test@test.com</p>
                                <p class="mb-0 text-muted">青海启迪之星 test@test.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CONTACT END -->

        <!-- CONTACT FORM START -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-dark mb-0">给我们留言 :</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-7 mt-4 pt-2">
                        <div class="custom-form rounded border p-4">
                            <div id="message"></div>
                            <div name="contact-form" id="app">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">您的姓名</label>
                                            <input name="name" id="name2" type="text" class="form-control resume"
                                                placeholder="" v-model="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">您的邮箱地址</label>
                                            <input name="email" id="email1" type="email" class="form-control resume"
                                                placeholder="" v-model="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group app-label">
                                            <label class="text-muted">主题</label>
                                            <input type="text" class="form-control resume" id="subject" placeholder=""
                                                v-model="maintitle">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group app-label">
                                            <label class="text-muted">留言信息</label>
                                            <textarea name="comments" id="comments" rows="5" class="form-control resume"
                                                placeholder="" v-model="message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" v-on:click='insert'>
                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                                            value="发送留言">
                                        <div id="simple-msg" v-on:click='insert'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 mt-4 pt-2">
                        <div class="border rounded text-center p-4">
                            <h5 class="text-dark pb-3">地址信息</h5>
                            <div class="contact-location rounded mt-5 p-4">
                                <div class="contact-location-icon bg-white text-primary rounded-pill">
                                    <i class="mdi mdi-map-marker"></i>
                                </div>
                                <p class="text-muted pt-4 f-20 mb-0">青海省西宁市城北区</p>
                            </div>
                            <h6 class="text-muted mt-4 mb-0">分享</h6>
                            <ul class="list-unstyled social-icon mt-3 mb-0">
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- CONTACT FORM END -->

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">启迪之星自1999年清华科技园孵化器成立起，累计投资100多个初创企业，投资总额超过1亿元 人民币，其中投资项目的地
                        方基金覆盖东北，华中，东部等地区，重点关注互联网+、TMT、 节能环保、新材料、生物医 药、先进制造、教育培训、 智能+、现代服务、大消费等 领域。</p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">启迪导航</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="http://www.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪之星</a></li>
                        <li><a href="http://invest.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪天使投资</a></li>
                        <li><a href="index.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 启迪之星(青海)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">功能</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> 企业登录</a></li>
                        <li><a href="about.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 关于我们</a></li>
                        <li><a href="faq.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 常见问题</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">关于我们</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>启迪之星(青海)分公司</li>
                        <li class="mt-2">青海省西宁市城北区</li>
                        <li class="mt-2">test@test.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2019 启迪之星(青海). Design </i> by <a href="https://www.qhu.edu.cn/">青海大学</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->



    <script>
        var app = new Vue(
            {
                el: '#app',
                data: {
                    name: "",
                    email: "",
                    maintitle: "",
                    message: "",
                    name: "",
                    newlin: "",
                    iflogin:"",
                    showtype:"",
                    turntype:""
                },
                methods: {

                    insert: function (response) {

                        if (this.name == '') {
                            alert('请输入您的姓名');
                            return
                        }
                        if (this.email == '') {
                            alert('请输入您的邮箱以方便我们联系您');
                            return
                        }
                        if (this.maintitle == "") {
                            alert("请简明概述您的主题");
                            return
                        }
                        if (this.message == '') {
                            alert('请输入您反馈的信息');
                            return
                        }

                        axios.post('/bussiness',
                            {
                                code: '1002',
                                name: this.name,
                                email: this.email,
                                maintitle: this.maintitle,
                                message: this.message
                            })
                            .then(function (data) {
                                if (data.data == "success") {
                                    alert('留言成功，谢谢您的建议')
                                }
                                else if (data.data == "error") {
                                    alert('留言失败')
                                }
                            })
                            .catch(function (error) {
                                console.log('.....', error);
                            })
                    }
                },
                mounted() {
                    var self = this
                    axios.post('/users', {
                        code: "1005",
                    })
                        .then(function (response) {
                            if (response.data == "nouser") {
                                self.name = "未登录"
                                self.iflogin = "/login.html"
                            }
                            else {
                                self.name = response.data.username
                                self.isadmin = response.data.studentisadmin
                                self.phone = response.data.phone
                                if (self.isadmin == "2") {
                                  self.newlin = "/enterpriseCenter.html?phone=" + "'" + self.phone + "'"
                                  self.showtype = "发布一个岗位"
                                  self.turntype = "/post-a-job.html"
                                  console.log(self.newlin)
                                }
                                if (self.isadmin == "0") {
                                  self.newlin = "/userCenter.html?phone=" + "'" + self.phone + "'"
                                  self.showtype = "完善简历"
                                  self.turntype = "create-resume.html"
                                  console.log(self.newlin)
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },

            }
        )
    </script>

</body>

</html>
