<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业信息 - 启迪之星</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--topbar js-->
    <script src="js/topbar.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <div id="app">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll scroll-active">
            <!-- Tagline STart -->
            <div class="tagline">
                <div class="container">
                    <div class="float-left">
                        <div class="phone">
                            启迪之星公司-在线人才招聘
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="navigation-menu topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                            <li class="has-submenu">
                                <a href="javascript:void(0);" style="font-size: 15px;"><i class="mdi mdi-account mr-2"></i>{{name}}</a><span class="menu-arrow"></span>
                                <ul class="submenu" v-if="name === '未登录'">
                                    <li><a href="/login.html" style="font-size: 15px;">登录</a></li>
                                    <li><a href="/signup.html" style="font-size: 15px;">注册</a></li>
                                </ul>
                                <ul class="submenu" v-else>
                                    <li><a href="javascript:logOut();" style="font-size: 15px;">注销</a></li>
                                </ul>
                            </li>
                            <li class="list-inline-item">
                                <a :href="newlin" style="font-size: 15px;"><i class="mdi mdi-account-box mr-2" ></i>个人中心</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Tagline End -->

            <!-- Menu Start -->
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="index.html" class="logo">
                        <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                        <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                    </a>
                </div>
                <div class="buy-button">
                    <a href="post-a-job.html" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i>发布一个工作</a>
                </div>
                <!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="index.html">主页</a></li>
                        <li><a href="job-list.html">岗位列表</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">求职者相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="signup.html">用户注册</a></li>
                                <li><a href="login.html">用户登录</a></li>
                                <!-- <li class="has-submenu"><a href="javascript:void(0)">应聘者</a><span
                                        class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="candidates-listing.html">应聘者列表</a></li>
                                        <li><a href="create-resume.html">新建简历</a></li>
                                    </ul>


                                </li> -->
                                <li><a href="create-resume.html">新建简历</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">

                            <a href="javascript:void(0)">企业相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="companysignup.html">企业注册</a></li>
                                <li><a href="signup.html">企业登录</a></li>
                                <li><a href="post-a-job.html">发布职位</a></li>
                                <li><a href="employers-list.html">企业列表</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于系统</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">常见问题</a></li>
                                <li><a href="signup.html">意见反馈</a></li>
                                <li><a href="companysignup.html">发布职位</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于我们</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">实习基地</a></li>
                                <li><a href="signup.html">启迪之星</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a href="contact.html">联系我们</a>

                        </li> -->
                    </ul>
                    <!--end navigation menu-->
                </div>
                <!--end navigation-->
            </div>
            <!--end container-->
            <!--end end-->
        </header>
        <!--end header-->
        <!-- Navbar End -->

        <!-- Start home -->
        <section class="bg-half page-next-level">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h4 class="text-uppercase title mb-4">企业信息</h4>
                            <ul class="page-next d-inline-block mb-0">
                                <li><a href="index.html" class="text-uppercase font-weight-bold">主页</a></li>
                                <li><a href="#" class="text-uppercase font-weight-bold">功能</a></li>
                                <li>
                                    <span class="text-uppercase text-white font-weight-bold">个人中心</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->

        <!-- EMPLOYERS DETAILS START -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-sm-center">

                            <form action="/uploadPhoto1" method="post" enctype="multipart/form-data">
                                <img id="img" v-bind:src="photoAddress" class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill">
                                <div class="shangchuan">
                                    <a href="javascript:;" class="file">选择照片<input type="file" class="custom-file-input" id="inputGroupFile01" name = "image" aria-describedby="inputGroupFileAddon01"></a>
                                </div>
                                <div class="shangchuan">
                                    <input class="file" type="submit" value="上传" />
                                </div>
                            </form>

                            <h4 class="mt-3"><a href="#" class="text-dark">{{info.phone}}</a></h4>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-3">
                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{info.place}}</p>
                                </li>

                                <li class="list-inline-item">
                                    <p class="text-success mb-0"><i class="mdi mdi-bookmark-check mdi-18px mr-2"></i>通过验证
                                    </p>
                                </li>
                                <li class="list-inline-item">
                                    <a href="Change-company-information.html">修改信息</a>
                                </li>
                            </ul>

                            <ul class="list-inline mb-2">

                                <li class="list-inline-item mr-3">
                                    <p class="text-muted"><i class="mdi mdi-email mr-2"></i>{{info.email}}</p>
                                </li>

                                <li class="list-inline-item">
                                    <p class="text-muted"><i class="mdi mdi-cellphone-iphone mr-2"></i>{{info.personphone}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-4 pt-2">
                        <h4>公司简介 :</h4>
                        <div class="rounded border p-4 mt-3">
                            <p class="text-muted">{{info.simpletro}}</p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">待处理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">历史记录</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <table class="table table-borderless">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">姓名</th>
                                    <th scope="col">学校</th>
                                    <th scope="col">专业</th>
                                    <th scope="col">投递岗位</th>
                                    <th scope="col">手机号</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in infoList" v-if="item.restatus === '通知面试'">
                                    <td>{{item.name}}</td>
                                    <td>{{item.school}}</td>
                                    <td>{{item.major}}</td>
                                    <td>{{item.companyname}}</td>
                                    <td>***********</td>
                                    <td>
                                        <button type="button" id="btn1" class="btn btn-sm  btn-primary" v-on:click="notify(item)">{{item.restatus}}</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-info" v-on:click="resumeInfo(item)">查看简历</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm  btn-danger" v-on:click="reject(item)">拒绝</button>
                                    </td>
                                </tr>
                                <tr v-for="item in infoList" v-if="item.restatus === '通知报到'">
                                    <td>{{item.name}}</td>
                                    <td>{{item.school}}</td>
                                    <td>{{item.major}}</td>
                                    <td>{{item.companyname}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>
                                        <button type="button" id="btn2" class="btn btn-sm  btn-warning" v-on:click="notify(item)">{{item.restatus}}</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-info" v-on:click="resumeInfo(item)">查看简历</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm  btn-danger" v-on:click="reject(item)">拒绝</button>
                                    </td>
                                </tr>
                                <tr v-for="item in infoList" v-if="item.restatus === '确认已报到'">
                                    <td>{{item.name}}</td>
                                    <td>{{item.school}}</td>
                                    <td>{{item.major}}</td>
                                    <td>{{item.companyname}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>
                                        <button type="button" id="btn3" class="btn btn-sm  btn-success" v-on:click="notify(item)">{{item.restatus}}</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-info" v-on:click="resumeInfo(item)">查看简历</button>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <table class="table table-borderless">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">姓名</th>
                                    <th scope="col">学校</th>
                                    <th scope="col">专业</th>
                                    <th scope="col">投递岗位</th>
                                    <th scope="col">手机号</th>
                                    <th scope="col">转态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in infoList" v-if="item.status === '已被录用' || item.status === '已拒绝' ">
                                    <td>{{item.name}}</td>
                                    <td>{{item.school}}</td>
                                    <td>{{item.major}}</td>
                                    <td>{{item.companyname}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- EMPLOYERS DETAILS END -->

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">启迪之星自1999年清华科技园孵化器成立起，累计投资100多个初创企业，投资总额超过1亿元 人民币，其中投资项目的地 方基金覆盖东北，华中，东部等地区，重点关注互联网+、TMT、 节能环保、新材料、生物医 药、先进制造、教育培训、 智能+、现代服务、大消费等 领域。</p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">启迪导航</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="http://www.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪之星</a></li>
                        <li><a href="http://invest.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪天使投资</a></li>
                        <li><a href="index.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 启迪之星(青海)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">功能</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> 企业登录</a></li>
                        <li><a href="about.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 关于我们</a></li>
                        <li><a href="faq.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 常见问题</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">关于我们</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>启迪之星(青海)分公司</li>
                        <li class="mt-2">青海省西宁市城北区</li>
                        <li class="mt-2">test@test.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2019 启迪之星(青海). Design </i> by <a href="https://www.qhu.edu.cn/">青海大学</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>

    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>

    <script src="js/jquery.nice-select.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script>
        $(function() {
            $("[data-toggle='popover']").popover();
        });
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                info: [],
                infoList: [],
                name: '',
                newlin: '',
                photoAddress: "",
            },
            created() {
                document.getElementById("btn1").style.color = "black";
                console.log('Requsting...')
                var self = this
                axios.post('/center', {
                        code: "1003"
                    })
                    .then(function(response) {
                        //console.log(response.data)
                        self.info = response.data[0];
                        self.infoList = response.data[1]
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                axios.post('/users', {
                        code: "1005",
                    })
                    .then(function(response) {
                        if (response.data == "nouser") {
                            self.name = "未登录"
                        } else {
                            self.name = response.data.username
                            self.isadmin = response.data.studentisadmin
                            self.phone = response.data.phone
                            if (self.isadmin == "2") {
                                self.newlin = "/enterpriseCenter.html?phone=" + "'" + self.phone + "'"
                                console.log(newlin)
                            }
                            if (self.isadmin == "0") {
                                self.newlin = "/userCenter.html?phone=" + "'" + self.phone + "'"
                                console.log(newlin)
                            }
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            methods: {
                reject: function(item) {
                    axios.post('/center', {
                            code: "1003",
                            stuphone: item.phone,
                            jobtitle: item.companyname,
                            action: "reject"
                        })
                        .then(function(response) {
                            console.log(response.data)
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                    location.reload();
                },
                notify: function(item) {
                    console.log('haha')
                    axios.post('/center', {
                            code: "1003",
                            stuphone: item.phone,
                            status: item.restatus,
                            jobtitle: item.companyname,
                            action: "notify"
                        })
                        .then(function(response) {
                            console.log(response.data)
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                    location.reload();
                },
                resumeInfo: function(item) {
                    window.location = "candidates-profile.html?phone=" + item.phone;
                }
            },
            mounted() {
                var self = this
                axios
                    .post('/searchPhoto', {

                    })
                    .then(function(response) {
                        console.log("返回的头像地址：" + response.data[0].imgadress);
                        if (response.data == "error") {
                            console.log("头像查询时出现错误");
                        } else if (response.data == "noPhoto") {
                            self.photoAddress = "images/employers/img-3.jpg";
                        } else {
                            self.photoAddress = response.data[0].imgadress;
                        }
                        console.log(self.photoAddress);
                    })
                    .catch(function(error) {
                        console.log(error);
                    })
            },
        })
    </script>

    <script type="text/javascript">
        var img = document.querySelector('input[name=image]');
        imgs = document.querySelector('#img');
        if (img) {
            img.addEventListener('change', function() {
                var file = this.files[0];
                var reader = new FileReader();
                // 监听reader对象的的onload事件，当图片加载完成时，把base64编码賦值给预览图片
                reader.addEventListener("load", function() {
                    imgs.src = reader.result;
                }, false);
                // 调用reader.readAsDataURL()方法，把图片转成base64
                reader.readAsDataURL(file);
                $("img").eq(1).css("display", "block");
            }, false);
        }
    </script>
</body>

</html>