<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>职位列表 - 启迪之星</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>

    <!--topbar js-->
    <script src="js/topbar.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="js/index.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <div id="app">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll scroll-active">
            <!-- Tagline STart -->
            <div class="tagline">
                <div class="container">
                    <div class="float-left">
                        <div class="phone">
                            启迪之星公司-在线人才招聘
                        </div>
                    </div>
                    <div class="float-right">
                      <ul class="navigation-menu topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                        <li class="has-submenu">
                          <a href="javascript:void(0);" style="font-size: 15px;"><i class="mdi mdi-account mr-2"></i>{{name}}</a><span class="menu-arrow"></span>
                          <ul class="submenu" v-if="name === '未登录'">
                            <li><a href="/login.html" style="font-size: 15px;">登录</a></li>
                            <li><a href="/signup.html" style="font-size: 15px;">注册</a></li>
                          </ul>
                          <ul class="submenu" v-else>
                            <li><a href="javascript:logOut();" style="font-size: 15px;">注销</a></li>
                          </ul>
                        </li>
                        <li class="list-inline-item">
                          <a :href="newlin" style="font-size: 15px;"><i class="mdi mdi-account-box mr-2" ></i>个人中心</a>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Tagline End -->

            <!-- Menu Start -->
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="index.html" class="logo">
                        <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                        <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                    </a>
                </div>
                <div class="buy-button" v-if = "showtype!=''">
                    <a :href="turntype" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i>{{showtype}}</a>
                </div>
                <!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="index.html">主页</a></li>
                        <li><a href="job-list.html">岗位列表</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">求职者相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="signup.html">用户注册</a></li>
                                <li><a href="login.html">用户登录</a></li>
                                <!-- <li class="has-submenu"><a href="javascript:void(0)">应聘者</a><span
                                        class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="candidates-listing.html">应聘者列表</a></li>
                                        <li><a href="create-resume.html">新建简历</a></li>
                                    </ul>


                                </li> -->
                                <li><a href="create-resume.html">新建简历</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">

                            <a href="javascript:void(0)">企业相关</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="companysignup.html">企业注册</a></li>
                                <li><a href="signup.html">企业登录</a></li>
                                <li><a href="post-a-job.html">发布职位</a></li>
                                <li><a href="employers-list.html">企业列表</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于系统</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">常见问题</a></li>
                                <li><a href="signup.html">意见反馈</a></li>
                                <li><a href="companysignup.html">发布职位</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">关于我们</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">实习基地</a></li>
                                <li><a href="signup.html">启迪之星</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a href="contact.html">联系我们</a>

                        </li> -->
                    </ul>
                    <!--end navigation menu-->
                </div>
                <!--end navigation-->
            </div>
            <!--end container-->
            <!--end end-->
        </header>
        <!--end header-->
        <!-- Navbar End -->

        <!-- Start home -->
        <section class="bg-half page-next-level">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h4 class="text-uppercase title mb-4">岗位列表</h4>
                            <ul class="page-next d-inline-block mb-0">
                                <li><a href="index.html" class="text-uppercase font-weight-bold">主页</a></li>
                                <li><a href="#" class="text-uppercase font-weight-bold">工作岗位</a></li>
                                <li>
                                    <span class="text-uppercase text-white font-weight-bold">岗位列表</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->

        <div class="container">
            <div class="home-form-position">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="home-registration-form job-list-reg-form bg-light shadow p-4 mb-3">
                            <form method="GET" class="registration-form">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-briefcase"></i>
                                            <input type="text" id="mingcheng" name="mingcheng"
                                                class="form-control rounded registration-input-box" placeholder="工作名称"
                                                v-model="mingcheng">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-location-arrow"></i>
                                            <input type="text" id="didian" name="didian"
                                                class="form-control rounded registration-input-box" placeholder="工作地点"
                                                v-model="didian">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-list-alt"></i>
                                            <input type="text" id="fenlei" name="fenlei"
                                                class="form-control rounded registration-input-box" placeholder="职位分类"
                                                v-model="fenlei">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <input type="submit" id="submit"
                                                class="submitBnt btn btn-primary btn-block" value="立即查询" v-on:click="chaxun">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JOB LIST START -->
        <section class="section pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title title-line pb-5">寻找适合您的工作</h4>
                            <p class="text-muted para-desc mx-auto mb-1">您可以在左侧对工作岗位进行筛选。PS:投递前，先完善自己的简历哦</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="left-sidebar">
                            <div class="accordion" id="accordionExample">
                                <div class="card rounded mt-4">
                                    <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <div class="card-header" id="headingOne">
                                            <h6 class="mb-0 text-dark f-18">发布日期</h6>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                        <div class="card-body p-0">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio25" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio25">全部</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio1">最近一个小时</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio2" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio2">最近24个小时</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio3" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio3">最近7天</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio4" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio4">最近14天</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio5" name="customRadio"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted"
                                                    for="customRadio5">最近30天</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->
                                <div class="card rounded mt-4">
                                    <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true"
                                        aria-controls="collapsetwo">
                                        <div class="card-header" id="headingtwo">
                                            <h6 class="mb-0 text-dark f-18">职位分类</h6>
                                        </div>
                                    </a>
                                    <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                        <div class="card-body p-0">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio27" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio27">全部</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio7" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio7">数码/设计</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio8" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio8">会计/统计类</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio9" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio9">银行/金融</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio10" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio10">计算机/软件</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio11" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio11">建筑</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio12" name="customRadio1"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio12">销售/市场</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->
                                <div class="card rounded mt-4">
                                    <a data-toggle="collapse" href="#collapsethree" class="job-list"
                                        aria-expanded="true" aria-controls="collapsethree">
                                        <div class="card-header" id="headingthree">
                                            <h6 class="mb-0 text-dark f-18">工作经验</h6>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                                        <div class="card-body p-0">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio13" name="customRadio2"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio13">无要求</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio24" name="customRadio2"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio24">1-2年</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio14" name="customRadio2"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio14">2-3年</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio15" name="customRadio2"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio15">3-4年</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio16" name="customRadio2"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio16">4年以上</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->
                                <div class="card rounded mt-4">
                                    <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true"
                                        aria-controls="collapsefour">
                                        <div class="card-header" id="headingfour">
                                            <h6 class="mb-0 text-dark f-18">最低学历</h6>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                                        <div class="card-body p-0">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio17" name="customRadio3"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio17">高中以上</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio18" name="customRadio3"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio18">专科以上</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio19" name="customRadio3"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio19">本科以上</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio20" name="customRadio3"
                                                    class="custom-control-input">
                                                <label class="custom-control-label ml-1 text-muted f-15"
                                                    for="customRadio20">硕士/博士</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 mt-4 pt-2">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="show-results">
                                    <div class="float-left">
                                        <h5 class="text-dark mb-0 pt-2 f-18">岗位列表</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mt-4 pt-2"
                                v-for="info in infos.slice((currentPage-1)*pagesize,currentPage*pagesize)">
                                <div class="job-list-box border rounded">
                                    <div class="p-3">
                                        <div class="row align-items-center">
                                            <div class="col-lg-2">
                                                <div class="company-logo-img">
                                                    <img src="images/featured-job/img-1.png" alt=""
                                                        class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-9">
                                                <div class="job-list-desc">
                                                    <h6 class="mb-2"><a href="#"
                                                            class="text-dark">{{info.companyname}}</a>
                                                    </h6>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-bank mr-2"></i>{{info.company}}</p>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item mr-3">
                                                            <p class="text-muted mb-0"><i
                                                                    class="mdi mdi-map-marker mr-2"></i>{{info.place}}
                                                            </p>
                                                        </li>

                                                        <li class="list-inline-item">
                                                            <p class="text-muted mb-0"><i
                                                                    class="mdi mdi-clock-outline mr-2"></i>{{info.time}}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <div class="job-list-button-sm text-right">
                                                    <span class="badge badge-success">{{info.worktype}}</span>

                                                    <div class="mt-3">
                                                        <a :href="'/job-details.html?name=' + info.companyname"
                                                            class="btn btn-sm btn-primary">查看详情</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                :current-page="currentPage" :page-sizes="[10,50,100, 200]" :page-size="10"
                                layout="prev, pager, next, jumper,sizes, total " :total="this.infos.length">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JOB LIST START -->

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">启迪之星自1999年清华科技园孵化器成立起，累计投资100多个初创企业，投资总额超过1亿元 人民币，其中投资项目的地
                        方基金覆盖东北，华中，东部等地区，重点关注互联网+、TMT、 节能环保、新材料、生物医 药、先进制造、教育培训、 智能+、现代服务、大消费等 领域。</p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">启迪导航</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="http://www.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪之星</a></li>
                        <li><a href="http://invest.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪天使投资</a></li>
                        <li><a href="index.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 启迪之星(青海)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">功能</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> 企业登录</a></li>
                        <li><a href="about.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 关于我们</a></li>
                        <li><a href="faq.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 常见问题</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">关于我们</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>启迪之星(青海)分公司</li>
                        <li class="mt-2">青海省西宁市城北区</li>
                        <li class="mt-2">test@test.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2019 启迪之星(青海). Design by <a href="https://www.qhu.edu.cn/">青海大学</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>

    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/app.js"></script>

    <!-- javascript -->
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                infos: [],
                name: "",
                newlin: "",
                currentPage: 1, // 初始页
                pagesize: 10, // 每页的数据
                mingcheng: "",
                didian: "",
                fenlei: "",
                showtype:"",
                releaseTime : ""
            },
            methods: {
                // 初始页currentPage、初始每页数据数pagesize和数据data
                handleSizeChange(size) {
                    this.pagesize = size; // 每页下拉显示数据
                    //console.log(this.pagesize);
                },
                handleCurrentChange(currentPage) {
                    this.currentPage = currentPage; //点击第几页
                    //console.log(this.currentPage);
                },
                chaxun: function () {
                    axios.post('/bussiness',
                        {
                            code: '1016',
                            mingcheng:this.mingcheng,
                            didian: this.didian,
                            fenlei: this.fenlei
                        })
                        .then(function (data) {
                            this.infos = data.data
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },
                getQueryVariable: function (variable) {
                    var query = window.location.search.substring(1);
                    console.log(window.location.search) //?mingcheng=%E6%95%99%E5%B8%88%E5%AE%9E%E4%B9%A0&didian=&fenlei=
                    console.log(query); //mingcheng=%E6%95%99%E5%B8%88%E5%AE%9E%E4%B9%A0&didian=&fenlei=
                    var vars = query.split("&");
                    console.log(vars);
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) { return pair[1]; }
                    }
                    return "";
                }
            },
            mounted() {
                var mingcheng = decodeURI(this.getQueryVariable("mingcheng"))   //文字在URL中是乱码，用decodeURI将乱码在转为文字
                var didian = decodeURI(this.getQueryVariable("didian"))
                var fenlei = decodeURI(this.getQueryVariable("fenlei"))
                var t = new Object()
                if (mingcheng) {    //mingcheng如果赋值了就认为是真
                    if (mingcheng != "") {  //这个判断应该是没有意义，但是我不敢删除
                        t.mingcheng = mingcheng
                        this.mingcheng = mingcheng
                    }
                }
                if (didian) {
                    if (didian != "") {
                        t.didian = didian
                        this.didian = didian
                    }
                }
                if (fenlei) {
                    if (fenlei != "") {
                        t.fenlei = fenlei
                        this.fenlei = fenlei
                    }
                }
                var self = this
                console.log(t)
                if (t.mingcheng != undefined || t.didian != undefined || t.fenlei != undefined) {
                    axios.post('/bussiness', {
                        code: "1016",
                        mingcheng: t.mingcheng,
                        didian: t.didian,
                        fenlei: t.fenlei
                    })
                        .then(function (response) {
                            self.infos = response.data
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    axios.post('/bussiness', {
                        code: "1004"
                    })
                        .then(function (response) {
                            self.infos = response.data
                            console.log("返回job列表的数据："+response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
                axios.post('/users', {
                    code: "1005",
                })
                    .then(function (response) {
                        if (response.data == "nouser") {
                            self.name = "未登录"
                        }
                        else {
                            self.name = response.data.username
                            self.isadmin = response.data.studentisadmin
                            self.phone = response.data.phone
                            if (self.isadmin == "2") {
                                self.newlin = "/enterpriseCenter.html?phone=" + "'" + self.phone + "'"
                                self.showtype = "发布一个岗位"
                                self.turntype = "/post-a-job.html"
                                console.log(self.newlin)
                            }
                            if (self.isadmin == "0") {
                                self.newlin = "/userCenter.html?phone=" + "'" + self.phone + "'"
                                self.showtype = "完善简历"
                                self.turntype = "create-resume.html"
                                console.log(self.newlin)
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        })
    </script>
</body>

</html>
