<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册 - 启迪之星</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <script src="js/vue.min.js"></script>
    <!-- selectize js -->

    <script src="js/axios.min.js"></script>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>
    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/Captcha.js"></script>

    <!--表单验证 js-->
    <script src="js/form-validator.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <div class="back-to-home rounded d-none d-sm-block">
        <a href="index.html" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
    </div>

    <!-- Hero Start -->
    <section class="vh-100" style="background:  center center;">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="login_page bg-white shadow rounded p-4" id='app'>
                                <div class="text-center">
                                    <h4 class="mb-4">注册</h4>
                                </div>
                                <div class="login-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>手机号（账号）<span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.phone}}</span></b>
                                                <input type="tel" class="form-control" placeholder="" name="phone" required="" v-model='phone' v-on:blur="check(phone,1,{minlength: 11, maxlength: 11})" minlength="11" maxlength="11">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>真实姓名<span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.username}}</span></b>
                                                <input type="text" class="form-control" placeholder="" name="username" required="" v-model='username' v-on:blur="check(username,2,{minlength: 2, maxlength: 5})" minlength="2" maxlength="5">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>电子邮箱<span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.email}}</span></b>
                                                <input type="email" class="form-control" placeholder="" name="email" required="" v-model='email' v-on:blur="check(email,3)">
                                                <input type="text" class="form-control phone-Captcha" placeholder="输入验证码" name="Captcha" required="">
                                                <div class="but_w_h">
                                                    <input type="button" class="btn btn-primary btn-sm" id="verCodeBtn" onclick="settime(this);" value="获取验证码">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group app-label">
                                                <label>性别<span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.sex}}</span></b>
                                                <div class="form-button">
                                                    <select class="nice-select rounded" v-model="sex" name="sex">
                                                        <option value="男">男</option>
                                                        <option value="女">女</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>登录密码 <span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.password}}</span></b>
                                                <input type="password" class="form-control" placeholder="" required="" name="password" v-model='password' v-on:blur="check(password,4,{minlength: 8, maxlength: 20})" minlength="8" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>确认您的密码<span class="text-danger">*</span></label>
                                                <b><span style="color:red;font-size: 13px">{{tip.repassword}}</span></b>
                                                <input type="password" class="form-control" placeholder="" required="" name='repassword' v-model='repassword' v-on:blur="check({password: password, repassword: repassword},5)" minlength="8" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control phone-Captcha input-val" placeholder="输入验证码" name="Captcha">
                                            <canvas id="canvas" width="100" height="30" style="border: 1px solid rgb(100, 100, 248); margin: 0 0 -10px 0;"></canvas>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control m-0 custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1" v-model.lazy="tick" v-on:blur="check(tick,6)">
                                                    <label class="custom-control-label" for="customCheck1">我同意
                                                    <a href="#" class="text-primary">《启迪之星服务条款》</a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary w-100 " v-on:click.prevent='insert'>注册</button>
                                        </div>
                                        <div class="mx-auto">
                                            <p class="mb-0 mt-3"><small class="text-dark mr-2">我已经有账号?</small>
                                                <a href="login.html" class="text-dark font-weight-bold">登录</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
        </div>
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- javascript -->


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                phone: '',
                username: '',
                email: '',
                sex: '',
                password: "",
                repassword: "",
                tick: false,
                imshow: "flash",
                tip: {
                  phone: null,
                  username: null,
                  email: null,
                  sex: null,
                  password: null,
                  repassword: null,
                  tick: null
                }
            },
            methods: {
                check: function (value, mode, params=null) {
                    switch(mode) {
                      case 1: this.tip.phone = checkAllNumber(value, params); break;
                      case 2: this.tip.username = checkChinese(value,params); break;
                      case 3: this.tip.email = checkEmail(value); break;
                      case 4: this.tip.password = checkPassword(value,params); break;
                      case 5: this.tip.repassword = checkPwdConfirm(value); break;
                      case 6: this.tip.tick = checkTick(value); break;
                      default:
                    }
                },
                insert: function(response) {
                    // 表单验证
                    for (let i in this.tip) {
                      if (this.tip[i] !== null) {
                        flag = false;
                        break;
                      }
                    }
                    if (this.tick === false) flag=false;
                    if (flag === true) {
                        // 检查无误,执行下面的逻辑
                        console.log(this.imshow)
                        this.imshow = Compare_verification_codes()
                        console.log(this.imshow)
                        if (this.imshow === "flash") {
                            alert('图形验证码错误');
                        }
                        else {
                          axios
                            .post('/users', {
                              code: '1001',
                              phone: this.phone,
                              username: this.username,
                              email: this.email,
                              sex: this.sex,
                              password: this.password,
                              isadmin: 0
                            })
                            .then(function(data) {
                              if (data.data == "success") {
                                alert('注册成功')
                                window.location = "/login.html"
                              } else if (data.data == "errortypeone") {
                                alert('用户已存在')
                                window.location.reload()
                              } else if (data.data == "error") {
                                alert('注册失败')
                                window.location.reload()
                              }
                            })
                            .catch(function(error) {
                              console.log('.....', error);
                            })
                        }
                    }
                    else {
                        alert("表单验证有误,请检查所有表单是否都符合要求!")
                    }
                }
            },
        })
    </script>
</body>

</html>
