<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>完善简历 - 启迪之星</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/axios.min.js"></script>
    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>

    <script src="js/app.js"></script>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <div id="app">
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll scroll-active">
            <!-- Tagline STart -->
            <div class="tagline">
                <div class="container">
                    <div class="float-left">
                        <div class="phone">
                            启迪之星公司-在线人才招聘
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                            <li class="list-inline-item"><a href="javascript:void(0);"><i
                                        class="mdi mdi-account mr-2"></i>{{name}}</a></li>
                            <li class="list-inline-item"><a :href="newlin"><i
                                        class="mdi mdi-account-box mr-2"></i>个人中心</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Tagline End -->

            <!-- Menu Start -->
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="index.html" class="logo">
                        <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                        <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                    </a>
                </div>
                <div class="buy-button">
                    <a href="post-a-job.html" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i>发布一个工作</a>
                </div>
                <!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="index.html">主页</a></li>
                        <li><a href="job-list.html">岗位列表</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">功能</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="faq.html">常见问题</a></li>
                                <li class="has-submenu"><a href="javascript:void(0)">应聘者</a><span
                                        class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="candidates-listing.html">应聘者列表</a></li>
                                        <li><a href="create-resume.html">新建简历</a></li>
                                    </ul>
                                </li>
                                <li><a href="employers-list.html">企业列表</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0)">用户中心</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">登录</a></li>
                                <li><a href="signup.html">用户注册</a></li>
                                <li><a href="companysignup.html">企业注册</a></li>
                                <li><a href="recovery_passward.html">忘记密码</a></li>
                            </ul>
                        </li>
                        </li>
                        <li>
                            <a href="contact.html">联系我们</a>
                        </li>
                    </ul>
                    <!--end navigation menu-->
                </div>
                <!--end navigation-->
            </div>
            <!--end container-->
            <!--end end-->
        </header>
        <!--end header-->
        <!-- Navbar End -->

        <!-- Start home -->
        <section class="bg-half page-next-level">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h4 class="text-uppercase title mb-4">完善简历</h4>
                            <ul class="page-next d-inline-block mb-0">
                                <li><a href="index.html" class="text-uppercase font-weight-bold">主页</a></li>
                                <li><a href="#" class="text-uppercase font-weight-bold">个人中心</a></li>
                                <li>
                                    <span class="text-uppercase text-white font-weight-bold">完善简历</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->

        <!-- CREATE RESUME START -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-dark">基本信息:</h5>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="custom-form p-4 border rounded">
                            <img src="images/employers/img-1.jpg"
                                class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill" alt="">
                            <form>
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <div class="form-group app-label">
                                            <label class="text-muted">姓名<span class="text-danger">*</span> :</label>
                                            <input id="first-name" type="text" name="name" class="form-control resume"
                                                placeholder="" v-model="name">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group app-label">
                                            <label class="text-muted">毕业院校<span class="text-danger">*</span> :</label>
                                            <input id="middle-name" type="text" class="form-control resume"
                                                placeholder="" v-model="school">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group app-label">
                                            <label class="text-muted">最高学历<span class="text-danger">*</span> :</label>
                                            <input id="surname-name" type="text" class="form-control resume"
                                                placeholder="" v-model="education">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group app-label">
                                            <label class="text-muted">出生年月日<span class="text-danger">*</span> :</label>
                                            <input id="date-of-birth" type="text" class="form-control resume"
                                                placeholder="" v-model="birthday">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group app-label">
                                            <label class="text-muted">性别<span class="text-danger">*</span> :</label>
                                            <div class="form-button">
                                                <select class="nice-select rounded" v-model="sex" value="">
                                                    <option data-display="性别">性别</option>
                                                    <option value="男">男</option>
                                                    <option value="女">女</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group app-label">
                                            <label class="text-muted">自我介绍<span class="text-danger">*</span> :</label>
                                            <textarea id="first-name" type="text" name="name"
                                                class="form-control resume" placeholder=""
                                                v-model="selfintro"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <h5 class="text-dark">联系方式 :</h5>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="custom-form p-4 border rounded">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label">
                                            <label class="text-muted">家庭住址</label>
                                            <input id="date-of-birth" type="text" class="form-control resume"
                                                placeholder="" v-model="adress">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">手机电话</label>
                                            <input id="phone" type="number" class="form-control resume" placeholder=""
                                                v-model="phone">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">电子邮箱</label>
                                            <input id="e-mail" type="email" name="email" class="form-control resume"
                                                placeholder="" v-model="email">
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-dark mt-5">教育经历:</h5>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="custom-form p-4 border rounded">
                            <form>
                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">院系</label>
                                            <input id="university/college" type="text" class="form-control resume"
                                                placeholder="" v-model="department">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">专业</label>
                                            <input id="degree/certification" type="text" class="form-control resume"
                                                placeholder="" v-model="major">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group app-label">
                                                    <label class="text-muted">学位</label>
                                                    <div class="form-button">
                                                        <select class="nice-select rounded" v-model="degree">
                                                            <option value="高中">高中</option>
                                                            <option value="本科">本科</option>
                                                            <option value="硕士">硕士</option>
                                                            <option value="博士">博士</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group app-label">
                                                    <label class="text-muted">学制</label>
                                                    <div class="form-button">
                                                        <select class="nice-select rounded" v-model="system1">
                                                            <option value="全日制">全日制</option>
                                                            <option value="成人教育">成人教育</option>
                                                            <option value="非全日制">非全日制</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group app-label">
                                            <label>附加信息(奖惩情况等) :</label>
                                            <textarea id="addition-information" rows="4" class="form-control resume"
                                                placeholder="" v-model="information"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-5">
                        <h5 class="text-dark">工作/项目/实习经验 :</h5>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="custom-form p-4 border rounded">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label">
                                            <label class="text-muted">当前（预期）薪资（可填保密）:</label>
                                            <input id="date-of-birth" type="text" class="form-control resume"
                                                placeholder="" v-model="money">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group app-label">
                                            <label>实习信息(描述主页工作、成果等) :</label>
                                            <textarea id="addition-information-1" rows="4" class="form-control resume"
                                                placeholder="" v-model="information2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12 mt-4">
                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="修改简历"
                        v-on:click="insert">
                </div>
            </div>
    </div>
    </section>
    </div>
    <!-- CREATE RESUME END -->

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">启迪之星自1999年清华科技园孵化器成立起，累计投资100多个初创企业，投资总额超过1亿元 人民币，其中投资项目的地
                        方基金覆盖东北，华中，东部等地区，重点关注互联网+、TMT、 节能环保、新材料、生物医 药、先进制造、教育培训、 智能+、现代服务、大消费等 领域。</p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">启迪导航</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="http://www.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪之星</a></li>
                        <li><a href="http://invest.tusstar.com/" class="text-foot"><i class="mdi mdi-chevron-right"></i>
                                启迪天使投资</a></li>
                        <li><a href="index.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 启迪之星(青海)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">功能</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> 企业登录</a></li>
                        <li><a href="about.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 关于我们</a></li>
                        <li><a href="faq.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> 常见问题</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">关于我们</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>启迪之星(青海)分公司</li>
                        <li class="mt-2">青海省西宁市城北区</li>
                        <li class="mt-2">test@test.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2019 启迪之星(青海). Design </i> by <a href="https://www.qhu.edu.cn/">青海大学</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer>
    <!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->



    <script>
        var app = new Vue(
            {
                el: '#app',
                data: {
                    name: "",
                    school: "",
                    education: "",
                    birthday: "",
                    sex: "",
                    marriage: "",
                    selfintro: "",
                    adress: "",
                    phone: "",
                    email: "",
                    department: "",
                    major: "",
                    degree: "",
                    system1: "",
                    information: "",
                    money: "",
                    information2: "",
                    newlin:""
                },created() {
                console.log('Requsting...')
                var self = this
                axios.post('/center', {
                    code: "1002"
                })
                    .then(function (response) {
                        console.log(response.data[0])
                        self.name = response.data[0].name
                        self.school = response.data[0].school
                        self.education = response.data[0].education
                        self.birthday = response.data[0].birthday
                        self.sex = response.data[0].sex
                        self.selfintro = response.data[0].selfintro
                        self.adress = response.data[0].adress
                        self.phone = response.data[0].phone
                        self.email = response.data[0].email
                        self.department = response.data[0].department
                        self.major = response.data[0].major
                        self.degree = response.data[0].degree
                        self.system1 = response.data[0].system1
                        self.information = response.data[0].information
                        self.money = response.data[0].money
                        self.information2 = response.data[0].information2
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
                methods: {
                    insert: function (response) {
                        if (this.name == '') {
                            alert('请输入姓名');
                            return
                        }
                        if (this.school == '') {
                            alert('请输入毕业学校');
                            return
                        }
                        if (this.education == "") {
                            alert("请输入最高学历");
                            return
                        }
                        if (this.birthday == '') {
                            alert('请输入出生年月日');
                            return
                        }
                        if (this.sex == "") {
                            alert("请输入性别");
                            return
                        }
                        if (this.selfintro == "") {
                            alert("请输入自我介绍");
                            return
                        }
                        axios.post('/center',
                            {
                                code: '1002',
                                name: this.name,
                                school: this.school,
                                education: this.education,
                                birthday: this.birthday,
                                sex: this.sex,
                                selfintro: this.selfintro,
                                adress: this.adress,
                                phone: this.phone,
                                email: this.email,
                                department: this.department,
                                major: this.major,
                                degree: this.degree,
                                system1: this.system1,
                                information: this.information,
                                money: this.money,
                                information2: this.information2,
                            })
                            .then(function (data) {
                                if (data.data == 'error') {
                                    alert('修改失败，请重试')
                                    window.location.reload()
                                }
                                else{
                                    alert('修改完成');
                                    window.location = "/userCenter.html"
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    }
                },
                mounted() {
                    var self = this
                    axios.post('/users', {
                        code: "1005",
                    })
                        .then(function (response) {
                            if (response.data == "nouser") {
                                self.name = "未登录"
                            }
                            else {
                                self.name = response.data.username
                                self.isadmin = response.data.studentisadmin
                                self.phone = response.data.phone
                                if (self.isadmin == "2") {
                                    self.newlin = "/enterpriseCenter.html?phone=" + "'" + self.phone + "'"
                                    console.log(newlin)
                                }
                                if (self.isadmin == "0") {
                                    self.newlin = "/userCenter.html?phone=" + "'" + self.phone + "'"
                                    console.log(newlin)
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },

            }
        )
    </script>

</body>

</html>